* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    


}

@font-face {
    font-family: "Norse-Bold";
    src: url("../assets/font/Norse-Bold.otf");

}


@font-face {
    font-family: "PressStart2P-Regular";
    src: url("../assets/font/PressStart2P-Regular.ttf");

}



:root {
    --blue-color:#0869b2;
    --white-color:white;
}

h2 {

    font-weight: bolder;
    font-size: 1.4rem;
    color: var(--blue-color);
    font-family: 'PressStart2P-Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 15px;
    padding-top: 0px;



}

h2:hover {
    color:  #eb9f53;
    cursor: pointer;
}


body {
    display: flex;
    flex-direction: row;

}







#odin-logo {
    width: 55px;
    height: 50px;
    margin: 10px;

}

.odin-navbar {
    cursor: pointer;
    position: absolute;
    font-family: "Norse-Bold";
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: white;
    top: 5px;
}






.left-container,
#mountain-image {
    width: 60vw;
    height: 100vh;

}


.right-container {
    font-family: 'PressStart2P-Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.90);
    width: 40vw;
    height: 100vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;

}

a {
    color: #0565af;
}


a:hover {
    cursor: pointer;
    color: #6c328d;
}


input {
    font-family: 'PressStart2P-Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    background-color: #2d2c2caf;
    opacity: 0.8;
    color: white;
    height: 30px;
    border-radius: 5px;
    border-color: var(--blue-color);
   text-indent: 2%;
}




input:valid {
    border-color: #40916c;
}

input:invalid {
    border-color: red;
}



input:focus {
    border-color:#008ffc;
    outline: 0;
}



input:focus:invalid {
    border-color: red;
}


input:placeholder-shown {
    border-color: #008ffc;
}

input:not(placeholder-shown) {
    border-color:red;
}


input::placeholder {
    opacity: 0.3;
    font-weight: 100;
    font-size: smaller;
}



.form-container {
    color: white;
    border: 2px solid var(--white-color);
    border-radius: 10px;
    width: 63%;
    height: 70%;
    padding: 50px;
    
    
}

.form-div {
    padding: 1rem;
    display: flex;
    flex-direction: column;

}


.form-div-last {
    display: inline-block;
    padding-left: 4em;
    padding-right: 4em;
    


}

label {
    padding-bottom: 0.5rem;
    
}


button {
    font-family: 'PressStart2P-Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bolder;
    background-color: #262626;
    color: white;
    padding: 12px;
    width: 38%;
    margin: auto;
    height: 50px;
    border-radius: 5px;
    border: 3px solid gray;
}

 button:hover {
    border: 3px solid #008ffc;
    color: #028ffb;
    background-color: #262626;
    cursor: pointer;
 

    
} 


