/* reset */

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}



/* custom properties */

:root {
    --blue-color: #0869b2;
    --form-border-color: white;
    --form-element-blue: #008ffc;
    --element-hover-color: #966a5d;
    --right-container-background-color: rgba(0, 0, 0, 0.90);
    --form-valid-color: #40916c;
    --form-invalid-color: red;
    --cursor-pointer: pointer;
    --input-background-color: #2d2c2caf;
    --button-border-color: gray;
    --button-background-color: #262626;
    --font-primary: 'PressStart2P-Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-secondary: "Norse-Bold", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




/* Self Hosted Fonts */
@font-face {
    font-family: 'Norse-Bold';
    src: url("../assets/font/Norse-Bold.otf");
}

@font-face {
    font-family: 'PressStart2P-Regular';
    src: url("../assets/font/PressStart2P-Regular.ttf");
}




/* styling */

body {
    display: flex;
    flex-direction: row;
}


h2 {
    font-weight: bolder;
    font-size: 1.4rem;
    color: var(--blue-color);
    font-family: var(--font-primary);
    padding-bottom: 15px;
}



h2:hover {
    color: var(--element-hover-color);
    cursor: var(--cursor-pointer);
    transition: 200ms;
}



.odin-navbar {
    cursor: var(--cursor-pointer);
    position: absolute;
    font-family: var(--font-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    color: white;
    top: 15px;
    left: 5px;
}




.left-container, #mountain-image {
    width: 60vw;
    height: 100vh;
}



.right-container {
    font-family: var(--font-primary);
    background-color: var(--right-container-background-color);
    width: 40vw;
    height: 100vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}



a {
    color: var(--form-element-blue);
    text-decoration: none;
}



a:hover {
    cursor: var(--cursor-pointer);
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--element-hover-color);
}



input {
    font-family: var(--font-primary);
    font-size: small;
    background-color: var(--input-background-color);
    opacity: 0.8;
    color: white;
    height: 30px;
    border-radius: 5px;
    border-color: var(--blue-color);
    text-indent: 2%;
}




input:valid {
    border-color: var(--form-valid-color);
}



input:invalid {
    border-color: var(--form-invalid-color);
}



input:focus {
    border-color: var(--form-element-blue);
    outline: 0;
}



input:focus:invalid {
    border-color: var(--form-invalid-color);
}



input:placeholder-shown {
    border-color: var(--form-element-blue);
}


input:not(placeholder-shown) {
    border-color: var(--form-invalid-color);
}



input::placeholder {
    opacity: 0.3;
    font-weight: 100;
    font-size: smaller;
}



.form-container {
    color: white;
    border: 1px solid var(--form-border-color);
    border-radius: 10px;
    width: 63%;
    height: 72%;
    padding: 30px;

}



.form-div {
    padding: 1rem;
    display: flex;
    flex-direction: column;

}



.form-div-last {
    display: inline-block;
    padding-left: 4em;
    padding-right: 4em;
}




label {
    padding-bottom: 0.5rem;
}



button {
    font-family: var(--font-primary);
    font-size: 1em;
    font-weight: bolder;
    background-color: var(--button-background-color);
    color: white;
    padding: 12px;
    width: 38%;
    margin: auto;
    height: 50px;
    border-radius: 5px;
    border: 3px solid var(--button-border-color)
}



button:hover {
    border: 3px solid var(--form-element-blue);
    color: var(--form-element-blue);
    background-color: var(button-background-color);
    cursor: var(--cursor-pointer);
    transition: 200ms;
}